@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: $gap-lg 0;
  background-color: $color-primary;
}
.form__container {
  display: grid;

  gap: $gap;
}
.form .btn--primary {
  width: 100%;

  color: $color-light;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.form .btn--primary:hover,
.form .btn--primary:focus {
  cursor: pointer;

  border-color: $color-light;
  background-color: $color-accent;
}
.form-item__input {
  display: block;
  width: 100%;
  height: $gap-x3;
  padding-right: $gap-lg;
  padding-left: $gap-lg;
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  color: $color-light;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.125rem;
}
.form-item__input::-webkit-input-placeholder {
  color: #637588;
}
.form-item__input::-moz-placeholder {
  color: #637588;
}
.form-item__input:-ms-input-placeholder {
  color: #637588;
}
.form-item__input::-ms-input-placeholder {
  color: #637588;
}
.form-item__input::placeholder {
  color: #637588;
}
.form-item__input:hover,
.form-item__input:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}
.form-item__input:hover::-webkit-input-placeholder,
.form-item__input:focus::-webkit-input-placeholder {
  color: #8c9bab;
}
.form-item__input:hover::-moz-placeholder,
.form-item__input:focus::-moz-placeholder {
  color: #8c9bab;
}
.form-item__input:hover:-ms-input-placeholder,
.form-item__input:focus:-ms-input-placeholder {
  color: #8c9bab;
}
.form-item__input:hover::-ms-input-placeholder,
.form-item__input:focus::-ms-input-placeholder {
  color: #8c9bab;
}
.form-item__input:hover::placeholder,
.form-item__input:focus::placeholder {
  color: #8c9bab;
}
