@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: $gap-lg 0;
  background-color: $color-primary;
}
.form__container {
  gap: $gap;

  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form .btn--primary {
  width: 100%;

  color: $color-light;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.form .btn--primary:hover,
.form .btn--primary:focus {
  cursor: pointer;

  border-color: $color-light;
  background-color: $color-accent;
}
.form-item__input {
  display: block;
  width: 100%;
  height: $gap-x3;
  padding-right: $gap-lg;
  padding-left: $gap-lg;
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  color: $color-light;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.125rem;
}

.form-item__input::placeholder {
  color: $color-gray;
}
.form-item__input:hover,
.form-item__input:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: $color-light;
  background-color: rgba(255, 255, 255, 0.15);
}

.form-item__input:hover::placeholder,
.form-item__input:focus::placeholder {
  color: #8c9bab;
}

// .form__container {
//   grid-template-columns: repeat(2, 1fr); // less then 767
// }
.form-item:nth-of-type(1) {
  grid-column: 1 / span 2;
}
