@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;
}

.about h2 {
  margin-top: 0;
}

.about__container {
  display: grid;
  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}
.about__content p:first-of-type {
  position: relative;

  margin-top: -5px;
}
.about__content p:first-of-type::after {
  position: absolute;
  top: 0;

  width: 2px;
  height: 200px;

  content: "";

  background-color: rgba(99, 117, 136, 0.1);
}
.about__content p:last-of-type {
  margin: 0;
}
.about__image {
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;

  justify-items: center;
}
.about__image img {
  max-width: 100%;
  max-height: 480px;
  // float: right;
}

.about__container {
  gap: $gap;
  grid-template-columns: 1fr;
}
.about__content p:first-of-type::after {
  display: none;
}
