*,
*::before,
*::after  {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #637588;
    letter-spacing: 0.1em;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 3.75rem;
    letter-spacing: 0.078em;
    color: #ffff;
    font-weight: 300;
    text-align: center;
    line-height: 1.2em;
    
} 

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    letter-spacing: 4px;
    color: #2d3651;
    text-align: center;
    line-height: 1.2em;
} 

a {
    color: #ffff;
    text-decoration: none;
}

.btn {
    width: 250px;
    height: 60px;
    background-color: rgb (255, 255, 255, 0.1);
    border: 2px solid #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #d66926;
    
}

.header {
        min-height: 100vh;
        background-color: #2d3651;
        background-image: url(../img/img-header.png);
        background-position: 50% 50%;
        background-size: cover;
        padding: 150px 0; 
        display: grid;
        align-content: center;
}

.header-overlay {
    position: absolute;
    inset: 0;
    background-color: #2d3651;
    opacity: 0.8;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header-content__container,
.header-menu__container {
    max-width: 1340px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-content__title {
    margin: 0 0 65px;   
}

.header-content__actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.header-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    /* background-color: red; */

}

.header-menu__container {
    display: grid;
    align-items: center;
     grid-template-columns: auto 1fr;
     gap: 20px;
}

.header-logo {
    font-size: 1.5rem;  
    letter-spacing: 0.25em;
}

.header-logo__link {
    display: block;
    padding: 20px;
  
}

.header-logo__accent {
    display: inline block;
    border: 3px solid #d53d27;
    padding: 17px 6px;
}

.header-navbar {

}

.header-navbar__btn {
    display: none;
}

.header-navbar__list {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2em, max-content));
    justify-content: flex-end;
}

.header-navbar__link {
    padding: 20px 10px;
    display: block;
    transition: color 0.5s;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
}

.header-navbar__link:hover {
    color: #d66926;
}