.header-content {
  position: relative;
  z-index: 1;

  &__title {
    margin: 0 0 65px;
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
  }
}

// TODO переписать правило
.header-content__container,
.header-menu__container {
  max-width: $ul;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}
