@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: "$font-main", sans-serif;
  font-size: $font-size;
}

h1 {
  text-align: center;
  letter-spacing: 4px;

  color: $color-primary;

  font-family: "$font-header, serif;
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  color: $color-light;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
}

h2 {
  font-family: "
      $font-header,
    serif;
  font-size: 40px;
  line-height: 1.2em;
}

a {
  text-decoration: none;

  color: $color-light;
}
